
<button class="burger" (click)="toggleNav()" [class.open]="navOpen" [attr.aria-expanded]="navOpen" aria-label="Toggle navigation">
  <span></span>
  <span></span>
  <span></span>
</button>


@if (navOpen) {
<div class="nav-links fade-in">
  @for (link of navLinks; track link.label) {
  <section class="nav-link" id="startPoint">
    <a [class.active]="selectedLink === link.label" (click)="onNavClick(link)" href="#{{ link.anchor }}">
      {{ link.label }}
    </a>
  </section>

  }
</div>
}

@if (navOpen) {
<div class="backdrop" (click)="toggleNav()"></div>
}

<div class="toggle-language">
  <button class="de-btn" [class.active]="currentLang === 'de'" (click)="setLanguage('de')">DE</button>
  <button class="en-btn" [class.active]="currentLang === 'en'" (click)="setLanguage('en')">EN</button>
</div>

<!-- need to have explained how the [] brackets work. is is a condition, is it an assignment? -->
