<button class="burger" (click)="toggleNav()" [attr.aria-expanded]="navOpen" aria-label="Toggle navigation">
  <span [class.open]="navOpen"></span>
  <span [class.open]="navOpen"></span>
  <span [class.open]="navOpen"></span>
</button>



@for (link of navLinks; track link.label) {
<section [class.open]="navOpen" id="startPoint">
  <a [class.active]="selectedLink === link.label" (click)="onNavClick(link)" href="#{{ link.anchor }}">
    {{ link.label }}
  </a>
</section>

}


<!-- <nav [class.open]="navOpen">
  -- Your nav links here 
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Contact</a>
</nav> -->


<!-- <div class="toggle-language">
  <button class="de-btn active" (click)="setLanguage('de')">DE</button>
  <button class="en-btn active" (click)="setLanguage('en')">EN</button>
</div> -->
<div class="toggle-language">
  <button class="de-btn" [class.active]="currentLang === 'de'" (click)="setLanguage('de')">DE</button>
  <button class="en-btn" [class.active]="currentLang === 'en'" (click)="setLanguage('en')">EN</button>
</div>

<!-- need to have explained how the [] brackets work. is is a condition, is it an assignment? -->





<!-- <nav [class.open]="navOpen">
  -- Your nav links here --
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Contact</a>
</nav> -->

@if (navOpen) {
<div class="backdrop" (click)="toggleNav()"></div>
}