@use '../../styles.scss' as*;

.lp-logo {
  width: 80px;
  height: auto;
  z-index: 10;
  margin-top: 6px;
}

.de-btn,
.en-btn {
  position: relative;
  z-index: 1;
  text-decoration: none;
  border: none;
  background: transparent;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  padding: 18px 16px;
  @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);
  transition: color 0.3s ease-in, opacity 0.5s ease-in;

  &:hover {
    text-decoration: none;
    color: white;
  }

  &.active {
    color: white;
  }

  &.active::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url('../../assets/img/nav_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72% 72%;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
    padding: 18px 16px;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
  }

  span {
    position: relative;
    z-index: 1;
  }
}

.burger {
  $burger-width: 36px;
  $burger-height: 40px;
  $line-height: 3px;
  $line-gap: 9px;
  $center-top: calc(($burger-height - $line-height) / 2);
  $top-line-top: calc($center-top - $line-gap - $line-height);
  $bottom-line-top: calc($center-top + $line-gap + $line-height);

  width: $burger-width;
  height: $burger-height;
  padding: 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1001;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: $line-height;
    border-radius: 2px;
    background-color: #fff;
    transition: 0.3s cubic-bezier(.8, .5, .2, 1.4);
    transform-origin: center;
  }

  span:nth-child(1) {
    top: $top-line-top;
  }

  span:nth-child(2) {
    top: $center-top;
  }

  span:nth-child(3) {
    top: $bottom-line-top;
  }

  &:not(.open):hover span:nth-child(1) {
    transform: scaleX(.8);
  }

  &:not(.open):hover span:nth-child(2) {
    transform: scaleX(.5);
  }

  &:not(.open):hover span:nth-child(3) {
    transform: scaleX(.8);
  }

  &.open span:nth-child(1) {
    top: $center-top;
    transform: rotate(45deg);
  }

  &.open span:nth-child(2) {
    transform: scale(0);
    transition-duration: 50ms;
  }

  &.open span:nth-child(3) {
    top: $center-top;
    transform: rotate(-45deg);
  }
}

.nav-links {
  position: absolute;
  inset: 0;
  height: 72%;
  min-height: 400px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);

  a {
    color: rgb(38, 46, 52);
    text-decoration: none;
    font-size: 1.4em;
    line-height: 1.8em;

    &:hover {
      text-decoration: none;
      color: white;
    }

    @media (max-width: 400px) {
      font-size: 1.2em;
      line-height: 1.6em;
    }
  }
}

.nav-panel {
  width: min(398px, 90vw);
  padding: 80px 24px 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url('/assets/img/nav-resp_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.nav-links.fade-in {
  animation: fadeInNav 0.4s;
}

@keyframes fadeInNav {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.toggle-language {
  display: flex;
  gap: 8px;
}