@use '../../styles.scss' as*;

.lp-logo {
  width: 94px;
  height: auto;
  z-index: 10;
}

.de-btn,
.en-btn {
  position: relative;
  text-decoration: none;
  border: none;
  background: transparent;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  padding: 18px 16px;
  @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);
  transition: color 0.3s ease-in, opacity 0.5s ease-in;


  &:hover {
    text-decoration: none;
    color: white;

  }

  &.active::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('../../assets/img/nav_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72% 72%;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
    padding: 18px 16px;


  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
  }
}



// Burger menu animation (clean pattern)
.burger {
  width: 40px;
  height: 40px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background: none;
  border: none;
  z-index: 1001;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  span {
    background-color: #FFF;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;
    left: 0;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2) {
    top: 13px;
  }

  span:nth-child(3) {
    bottom: 0px;
  }

  &:not(.open):hover span:nth-child(1) {
    transform: scaleX(.8);
  }

  &:not(.open):hover span:nth-child(2) {
    transform: scaleX(.5);
  }

  &:not(.open):hover span:nth-child(3) {
    transform: scaleX(.8);
  }

  &.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }

  &.open span:nth-child(2) {
    transform: scale(0);
    transition-duration: 50ms;
  }

  &.open span:nth-child(3) {
    top: 13px;
    transform: rotate(-45deg);
  }
}


span {
  display: block;
  height: 4px;
  width: 100%;
  background: #89bcd9;
  margin: 5px 0;
  border-radius: 2px;
  // transition: 0.3s;
  transition:
    // width 0.3s cubic-bezier(.68, -0.55, .27, 1.55),
    transform 0.3s cubic-bezier(.68, -0.55, .27, 1.55);
  transform-origin: center;


  &:hover span:nth-child(1),
  &:focus span:nth-child(1) {
    // width: 80%;
    transform: scaleX(0.8);
  }

  &:hover span:nth-child(2),
  &:focus span:nth-child(2) {
    // width: 50%;
    transform: scaleX(0.5);

  }

  &:hover span:nth-child(3),
  &:focus span:nth-child(3) {
    // width: 80%;
    transform: scaleX(0.8);
  }

}

// :hover after an element (e.g. a:hover) means “when this element is hovered.”
// &:hover span:nth-child(1) means “when the parent (.burger) is hovered,
//style the first span inside it.”

span.open:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

span.open:nth-child(2) {
  width: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  transform: scaleX(0);
}

span.open:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.nav-links {
  position: absolute;
  top: 0px;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin: 60px 20px 20px 20px;

  &.open {
    transform: translateX(0);
  }

  a {
    color: #fff;
    text-decoration: none;
    margin: 16px 0;
    font-size: 1.2em;
  }
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.3);
//   z-index: 999;
// }

.nav-links.fade-in {
  animation: fadeInNav 0.4s;
}

@keyframes fadeInNav {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.toggle-language {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
}
