<!-- <img class="lp-logo" src="assets/img/LOGO.svg" alt="logo">

<div class="nav-resp-container">
  <button class="burger" (click)="toggleNav()" [class.open]="menuOpen()" [attr.aria-expanded]="menuOpen()"
    aria-label="Toggle navigation">
    <span></span>
    <span></span>
    <span></span>
  </button>

  @if (menuOpen()) {
  <div class="nav-links fade-in">
    @for (link of navLinks; track link.label) {
    <section class="nav-link" id="startPoint">
      <a (click)="onNavClick()" href="#{{ link.anchor }}">
        {{ link.label }}
      </a>
    </section>
    }

    <div class="toggle-language">
      <button class="de-btn" [class.active]="currentLang === 'de'" (click)="setLanguage('de')">DE</button>
      <button class="en-btn" [class.active]="currentLang === 'en'" (click)="setLanguage('en')">EN</button>
    </div>
  </div>
  }

  @if (menuOpen()) {
  <div class="backdrop" (click)="closeNav()"></div>
  }

</div> -->

<img class="lp-logo" src="assets/img/LOGO.svg" alt="logo">

<div class="nav-resp-container">
  <button class="burger" (click)="toggleNav()" [class.open]="menuOpen()" [attr.aria-expanded]="menuOpen()"
    aria-label="Toggle navigation">
    <span></span>F
    <span></span>
    <span></span>
  </button>

  @if (menuOpen()) {
  <div class="backdrop" (click)="closeNav()"></div>

  <div class="nav-links fade-in">
    <div class="nav-panel">
      <div class="nav-items">
        @for (link of navLinks; track link.label) {
        <section class="nav-link" id="startPoint">
          <a (click)="onNavClick()" href="#{{ link.anchor }}">
            {{ link.label }}
          </a>
        </section>
        }
      </div>

      <div class="toggle-language">
        <button class="de-btn" [class.active]="currentLang === 'de'" (click)="setLanguage('de')">DE</button>
        <button class="en-btn" [class.active]="currentLang === 'en'" (click)="setLanguage('en')">EN</button>
      </div>
    </div>
  </div>
  }
</div>