@use '../../styles.scss' as*;

.lp-logo {
    width: 94px;
    height: auto;
    z-index: 10;
}

// .nav-bar {
//     position: sticky;
//     top: 0;
//     z-index: 10;
//     display: flex;
//     justify-content: space-between;
//     gap: 2rem;
//     padding: 1rem;
//     width: 56%;

//     a {
//         position: relative;
//         text-decoration: none;
//         font-size: 20px;
//         line-height: 24px;
//         cursor: pointer;
//         padding: 18px 16px;
//         @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);
//         transition: color 0.3s ease-in, opacity 0.5s ease-in;

//         &:hover {
//             text-decoration: none;
//             color: white;
            
//         }

//         &.active::after {
//             content: '';
//             position: absolute;
//             inset: 0;
//             z-index: -1;
//             background-image: url('../../assets/img/nav_bg.svg');
//             background-repeat: no-repeat;
//             background-position: center;
//             background-size: 72% 72%;
//             opacity: 1;
//             transition: opacity 0.5s ease-in;
//             pointer-events: none;
//             padding: 18px 16px;


//         }

//         &::after {
//             content: '';
//             position: absolute;
//             inset: 0;
//             z-index: -1;
//             opacity: 0;
//             transition: opacity 0.5s ease-in;
//             pointer-events: none;
//         }
//     }
// }

.de-btn,
.en-btn {
    position: relative;
    text-decoration: none;
    border: none;
    background: transparent;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    padding: 18px 16px;
    @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);
    transition: color 0.3s ease-in, opacity 0.5s ease-in;


    &:hover {
        text-decoration: none;
        color: white;

    }

    &.active::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url('../../assets/img/nav_bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 72% 72%;
        opacity: 1;
        transition: opacity 0.5s ease-in;
        pointer-events: none;
        padding: 18px 16px;


    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        pointer-events: none;
    }
}


.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;

  span {
    display: block;
    height: 4px;
    width: 100%;
    background: #89bcd9;
    margin: 5px 0;
    border-radius: 2px;
    transition: 0.3s;
  }

  span.open:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  span.open:nth-child(2) {
    opacity: 0;
  }
  span.open:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}

.nav-bar {
  position: fixed;
  top: 0; left: 0;
  width: 250px;
  height: 100vh;
  background: #222;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 60px 20px 20px 20px;

  &.open {
    transform: translateX(0);
  }

  a {
    color: #fff;
    text-decoration: none;
    margin: 16px 0;
    font-size: 1.2em;
  }
}

.backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: 999;
}