<!-- <section class="highlight-shape-container">
  <p>I am currently learning <br>
    <img src="" alt=""> <img src="" alt="">
    <br>
    Show that you are motivated to continually improve your skills,
    implement innovative solutions and stay abreast of new technologies.
  </p>
</section> -->

<!-- <section class="highlight-shape-container">
  <span class="claim">{{ claim }}</span>
  <div class="reference">
    @if (reference && reference.length && Array.isArray(reference)) {
    @for (icon of reference; let i = $index; track i) {
    <img [src]="icon" alt="icon" />
    }
    }
    @if (reference && !Array.isArray(reference)) {
    <span>{{ reference }}</span>
    }
  </div>
  <p class="text">{{ text }}</p>
  @if (link) {
  <a class="link" [href]="link" target="_blank">{{ linkLabel }}</a>
  }
</section> -->

<section class="highlight-shape-container">
  <span class="claim">{{ claim }}</span>
  <div class="reference">
    @if (reference && Array.isArray(reference)) {
    @for (item of reference; let i = $index; track i) {
    <div class="icon-with-label">
      <img [src]="item.icon" [alt]="item.label" />
      <span class="icon-label">{{ item.label }}</span>
    </div>
    }
    }
    @if (reference && !Array.isArray(reference)) {
    <span class="reference">{{ reference }}</span>
    }
  </div>
  <p class="text">{{ text }}</p>
  @if (link) {
  <a class="link" [href]="link" target="_blank">{{ linkLabel }}</a>
  }
</section>