.highlight-shape-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 332px;
    overflow: hidden;

     .shape-bg {
        position: absolute;
        width: 320px;
        height: 332px;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease-in, transform 0.4s ease-in;
        z-index: 0;
        opacity: 0.5;
        pointer-events: none;
    }
    .shape-bg.animated {
        opacity: 0;
        transform: none;
    }
    &:hover .shape-bg.base {
        opacity: 0;
    }
    &:hover .shape-bg.animated {
        opacity: 0.8;
        transform: rotate(16deg);
    }
}

.highlight-shape-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.24em;
    width: 50%;
    z-index: 2;
    color: white;
    text-align: center;
}

.reference {
    font-size: 0.9em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    // flex-wrap: wrap;
}

.project-reference {
    font-size: 0.9em;
    color: white;
    text-align: center;
    margin-bottom: 12px;
    color: rgb(137, 188, 217);
}

.icon-with-label {
    margin: 18px 0px;
    width: 35px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    img {
        width: 100%;
        height: 100%;
    }
}