<div class="right-container">
  <div class="technologies">
    <h3>Technologies</h3>
    @if (projectData.techNames && projectData.techNames.length) {
    <div class="icon-row">
      @for (techName of projectData.techNames; track $index) {
      {{ techName }} @if (!$last) {, }
      }
    </div>
    }
  </div>
  @if (projectData.projectImage) {
  <img [src]="projectData.projectImage" alt="{{ projectData.label }}" class="mp-img"
    [class.is-visible]="isImageVisible()">
  }
</div>

<div class="left-container">
  @for (item of projectData.content; track $index) {
  <div class="headline-row">
    <img src="../assets/img/bullet_icon.svg" alt="bullet" class="bullet-img" />
    <h3>{{ item.headline[currentLang] }}</h3>
  </div>
  <p class="project-paragraph">{{ item.text[currentLang] }}</p>
  }
</div>

<div class="mp-btn">
  @if (projectData.linkLiveTest) {
  <a class="live-test" [href]="projectData.linkLiveTest" target="_blank" rel="noopener noreferrer">
    Live Test
  </a>
  }
  @if (projectData.linkGitHub) {
  <a class="github" [href]="projectData.linkGitHub" target="_blank" rel="noopener noreferrer">
    GitHub
  </a>
  }
</div>