@use '../../styles.scss' as*;

.section-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

p.left-container {
    text-align: center;
}

.left-container,
.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-container button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    border: none;
    cursor: pointer;

    margin-top: 24px;

    button {
        background: none;
        border: none;
        cursor: pointer;
    }
}

.contact-me-btn {
    background-color: transparent;
    color: rgb(137, 188, 217);
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 50vw;

    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-weight: 400;
    border: 2px solid rgb(137, 188, 217);
    border-radius: 50vw;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;


    &:hover {
        background-color: rgba(137, 188, 217, 0.3);
    }

}