// .about-me-content {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 32px;
//     width: 86%;
//     max-width: 860px;

//     p {
//         font-family: 'Open Sans', sans-serif;
//         font-size: 1.1em;
//         line-height: 1.75em;

//     }
// }

.section-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

p.left-container {
    text-align: center;
}

.left-container,
.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// .ab-me-text {
//     width: 100%;
// }

// .right-container {
//     display: flex;
//     flex-direction: column;
//     gap: 16px;
//     width: 50%;
// }

.right-container button {
    // width: 150px;
    // padding: 10px 20px;
    // font-size: 1em;
    // font-family: 'Open Sans', sans-serif;
    // color: white;
    // cursor: pointer;

    // & :hover {
    //     background-color: #e73370;
    // }

    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    border: none;
    cursor: pointer;

    margin-top: 24px;

    button {
        background: none;
        border: none;
        cursor: pointer;
    }
}