@use '../../styles.scss' as*;

.section-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

p.left-container {
    text-align: center;
}

.left-container,
.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-container button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    border: none;
    cursor: pointer;

    margin-top: 24px;

    button {
        background: none;
        border: none;
        cursor: pointer;
    }
}