@use '../../styles.scss' as*;

.section-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

.left-container {
    display: flex;
    // text-align: center;
    justify-content: center;
    align-items: center;
    color: white;

}

app-typewriter-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-container span {
    font-weight: 700;
    color: rgb(137, 188, 217);
}

.left-container,
.right-container {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
}

.right-container {
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-me-btn {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    border: 2px solid rgb(137, 188, 217);
    border-radius: 50vw;
    padding: 12px 24px;
    margin-top: 24px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    color: rgb(137, 188, 217);
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 50vw;

    &:hover {
        background-color: rgba(137, 188, 217, 0.3);
    }

}