.about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
        line-height: 1.75em;
        width: 50%;
    }
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
 .right-container button {
    width: 150px;
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;

    & :hover {
        background-color: #e73370;
    }
}

/*homework:
questions: If I have a toggle function would I safe that as a service?
Or would that be overengineering for such a small app?

can I store my texts in a json file and import them to the component?
could I use one file for all jsons or is it wiser for each component one json file?

*/

