@use '../../styles.scss' as*;

.om-typewriter-text {
  --text-cursor-color: #8a8a8a;

  position: relative;
  width: fit-content;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    height: 90%;
    margin: auto;
    aspect-ratio: 1/16;
    background-color: var(--text-cursor-color);
    animation: omTypewriter 1s infinite ease-in-out;
  }
}

@keyframes omTypewriter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.typewriter-row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  // font-weight: 400;
  color: white;
  @include defaultFont($c: #FFFFFF, $fw: 400);
}

.typewriter-icon {
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.4s ease-in;
  width: 40px;
  height: 40px;
}

.fade-in {
  opacity: 1;
}

.pre-text {
  font-weight: 400;
  color: rgb(137, 188, 217);
}