<section class="legal-page-overlay ">
    
    <div class="headline-row">
        <a class="arrow-left-btn" (click)="close()">
            <img src="assets/img/arrow_left.svg" alt="Arrow left" />
        </a>
        <h2> {{title}}</h2>
    </div>

    @for (paragraph of content; track $index) {
    <section class="priv-pol-text">
        <h3>{{ $index + 1 }}. {{ paragraph.headline[currentLang] }}</h3>
        <p>{{ paragraph.text[currentLang] }}</p>
    </section>
    }

</section>

<!-- @for (paragraph of content; track paragraph; let i = $index) { -->