.contact-form-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 860px;
}

.row-1,
.row-2 {
    width: 100%;
    max-width: 860px;
}

.row-1 {
    display: flex;
    gap: 16px;

    input {
        flex: 1 1 0;
        height: 60px;
        background: none;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 50vw;
    }
}

.row-2 {
    flex: 1 1 0;
    width: 100%;

    textarea {
        // width: 100%;
        max-width: 860px;
        height: 145px;
        resize: vertical;
        background: none;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 30px;
    }

}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
}

label {
    margin-bottom: 6px;
    margin-left: 12px; // slight shift from the left edge
    font-size: 1em;
    color: #fff; // or your preferred color
}

input,
textarea {
    width: 100%;
    // border-radius: 8px;
    padding: 10px;
    font-size: 1em;
}