<div class="contact-form-container">
  <!-- <div class="row-1">
        <label for="userName">Your Name</label>
        <input type="text" placeholder="" />

        <label for="userEmail">Your Email</label>

        <input type="text" placeholder="" />
    </div>
    <div class="row-2">
        <label for="message">Your Message</label>
        <textarea id="message" placeholder=""></textarea>
        
    </div> -->
  <form (ngSubmit)="onSubmit(contactForm)" class="contact-form" #contactForm="ngForm">
    <div class="row-1">
      <div class="form-group">
        <!-- <label for="userName">Your Name</label> -->
        <label [class.error-label]="userName.invalid && userName.touched">
          @if (userName.invalid && userName.touched) {
          Your name is required
          } @else {
          Your Name
          }
        </label>
        <!-- <input #userName="ngModel" [(ngModel)]="contactFormData.userName" id="userName" name="userName" type="text" required /> -->
        <!-- <i class="done-icon d-none " ></i> -->
        <i class="done-icon" [class.d-none]="!userName.valid || !userName.touched"></i>
        <input [(ngModel)]="contactFormData.userName" id="userName" name="userName" type="text" required
          #userName="ngModel" [class.error-input]="userName.invalid && userName.touched" />
      </div>
      <div class="form-group">
        <!-- <label for="userEmail">Your Email</label> -->
        <label [class.error-label]="userEmail.invalid && userEmail.touched">
          @if (userEmail.invalid && userEmail.touched) {
          Your email is required
          } @else {
          Your Email
          }
        </label>
        <i class="done-icon" [class.d-none]="!userEmail.valid || !userEmail.touched"></i>
        <input #userEmail="ngModel" [(ngModel)]="contactFormData.userEmail" id="userEmail" name="userEmail" type="text"
          required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          [class.error-input]="userEmail.invalid && userEmail.touched" />
      </div>
    </div>
    <div class="row-2">
      <div class="form-group">
        <!-- <label for="message">Your Message</label> -->
        <label [class.error-label]="message.invalid && message.touched">
          @if (message.invalid && message.touched) {
          Message is required.
          } @else {
          Your Message
          }
        </label>
        <textarea #message="ngModel" [(ngModel)]="contactFormData.message" id="message" name="message" required
          [class.error-input]="message.invalid && message.touched"></textarea>
        <i class="done-icon" [class.d-none]="!message.valid || !message.touched"></i>
      </div>
    </div>

    <div class="privacy-policy">
      <input [(ngModel)]="contactFormData.privacyPolicyAccepted" id="privacyPolicyAccepted" name="privacyPolicyAccepted"
        type="checkbox" required />
      <label for="privacyPolicyAccepted">
        I've read the <span> &nbsp; privacy policy
          &nbsp;</span>and
        agree to the processing of my data as outlined.
      </label>

    </div>
    <div class="button-container">
      <button class="submit-btn" type="submit">Send</button>
    </div>
  </form>
</div>