<div class="contact-form-container">
  <form (ngSubmit)="onSubmit(contactForm)" class="contact-form" #contactForm="ngForm">

    <div class="row-1">
      <div class="form-group">
        <label for="userName" [class.error-label]="userName.invalid && (userName.touched || submitAttempted)">
          @if (userName.invalid && (userName.touched || submitAttempted)) {
          {{ contactFormText[currentLang].nameRequired }}
          } @else {
          {{ contactFormText[currentLang].nameLabel }}
          }
          *
        </label>

        <i class="done-icon" [class.d-none]="!userName.valid || !userName.touched"></i>
        <input maxlength="40" [(ngModel)]="contactFormData.userName" id="userName" name="userName" type="text" required
          pattern=".*\S.*" #userName="ngModel"
          [class.error-input]="userName.invalid && (userName.touched || submitAttempted)" />
      </div>

      <div class="form-group">
        <label for="userEmail" [class.error-label]="userEmail.invalid && (userEmail.touched || submitAttempted)">
          @if (userEmail.invalid && (userEmail.touched || submitAttempted)) {
          @if (userEmail.errors?.['required']) {
          {{ contactFormText[currentLang].emailRequired }}
          } @else if (userEmail.errors?.['pattern']) {
          {{ contactFormText[currentLang].emailInvalid }}
          }
          } @else {
          {{ contactFormText[currentLang].emailLabel }}
          }
          *
        </label>
        <i class="done-icon" [class.d-none]="!userEmail.valid || !userEmail.touched"></i>
        <input maxlength="40" #userEmail="ngModel" [(ngModel)]="contactFormData.userEmail" id="userEmail"
          name="userEmail" type="text" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          [class.error-input]="userEmail.invalid && (userEmail.touched || submitAttempted)" />
      </div>
    </div>

    <div class="row-2">
      <div class="form-group">
        <label for="message" [class.error-label]="message.invalid && (message.touched || submitAttempted)">
          @if (message.invalid && (message.touched || submitAttempted)) {
          {{ contactFormText[currentLang].messageRequired }}
          } @else {
          {{ contactFormText[currentLang].messageLabel }}
          }
          *
        </label>
        <textarea maxlength="500" #message="ngModel" [(ngModel)]="contactFormData.message" id="message" name="message"
          pattern="[\s\S]*\S[\s\S]*" required
          [class.error-input]="message.invalid && (message.touched || submitAttempted)"></textarea>
        <i class="done-icon" [class.d-none]="!message.valid || !message.touched"></i>
      </div>
    </div>

    <div class="required-fields-note">
      {{ contactFormText[currentLang].requiredFields }}
    </div>

    <div class="privacy-policy-resp">
      <label for="privacyPolicyAccepted" class="container">

        <p>
          {{ contactFormText[currentLang].privacy.beforeLink }}
          <a href="#" (click)="requestPrivacyPolicy(); $event.preventDefault()">
            {{ contactFormText[currentLang].privacy.linkText }}
          </a>
          {{ contactFormText[currentLang].privacy.afterLink }}
        </p>

        <input type="checkbox" id="privacyPolicyAccepted" [(ngModel)]="contactFormData.privacyPolicyAccepted"
          name="privacyPolicyAccepted" required #privacyPolicy="ngModel"
          [class.error-input]="privacyPolicy.invalid && (privacyPolicy.touched || (userName.valid && userEmail.valid && message.valid))" />
        <span class="checkmark"></span>

      </label>

      @if (!contactFormData.privacyPolicyAccepted && submitAttempted) {
      <span class="error-message">
        {{ contactFormText[currentLang].privacy.error }}
      </span>
      }

    </div>

    <div class="button-container">

      <button class="submit-btn" type="submit" [disabled]="contactForm.form.invalid"
        [class.btn-disabled]="contactForm.form.invalid">
        {{ contactFormText[currentLang].submit }}
      </button>
    </div>
  </form>

  @if (successMessageVisible) {
  <div class="success-message-container">
    <div class="success-message">
      {{ successMessage[currentLang] || successMessage['en'] }}
      <i class="done-icon"></i>
    </div>
  </div>
  }

  @if (submitErrorVisible) {
  <span class="error-message">
    {{ contactFormText[currentLang].submitError }}
  </span>
  }

</div>