@use '../../styles.scss' as *;

.contact-form-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 860px;
    margin-bottom: 160px;
}

.row-1,
.row-2 {
    width: 100%;
    max-width: 860px;
}

.row-1 {
    display: flex;
    gap: 16px;

    input {
        flex: 1 1 0;
        height: 60px;
        background: none;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 50vw;
    }
}

.row-2 {
    flex: 1 1 0;
    width: 100%;

    textarea {
        // width: 100%;
        max-width: 860px;
        height: 145px;
        resize: vertical;
        background: none;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 30px;
    }

}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
}

label {
    margin-bottom: 6px;
    margin-left: 24px; // slight shift from the left edge
    font-size: 1em;
    color: rgb(137, 188, 217); // or your preferred color
}

input,
textarea {
    width: 100%;
    // border-radius: 8px;
    padding: 10px;
    font-size: 0.7em;
    color: white;
}

.privacy-policy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8em;
    color: white;
    width: 100%;
    max-width: 860px;
    margin-top: 8px;
    margin-bottom: 8px;

    input {
        width: 16px;
        height: 16px;
        margin-right: 6px;
        // background-image: url(/src/assets/img/checkbox.svg);
    }

    // img {
    //     width: 16px;
    //     height: 16px;
    //     margin: 0 4px;
    //     // vertical-align: middle;
    // }

    span {
        color: rgb(137, 188, 217);
        cursor: pointer;
        // display: flex;
    }
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 860px;
}

.submit-btn {
    @include defaultFont($c: white, $fw: 400);
    border: 2px solid rgb(137, 188, 217);
    color: rgb(137, 188, 217);
    border-radius: 50vw;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
}


// .error-border {
//     border: 1px solid red !important;
// }

.error-label {
    color: red;
}

.error-input {
    border: 1px solid red !important;
} 