@use '../../styles.scss' as *;

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    background-color: transparent !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus,
textarea:focus {
    outline: none !important; // Remove default browser outline
    box-shadow: 0 0 0 2px #89bcd9 !important; // Your custom focus style
    border-color: #89bcd9 !important; // Your custom border color
}

.contact-form-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 860px;
    margin-bottom: 160px;
}

.row-1,
.row-2 {
    width: 100%;
    max-width: 860px;

    label {
        margin-bottom: 6px;
        margin-left: 24px; // slight shift from the left edge
        font-size: 1em;
        color: rgb(137, 188, 217); // or your preferred color
    }
}

.row-1 {
    display: flex;
    gap: 16px;
    height: 89px;

    input {
        flex: 1 1 0;
        height: 60px;
        background: transparent;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 50vw;
    }
}

.row-2 {
    flex: 1 1 0;
    width: 100%;

    textarea {
        // width: 100%;
        max-width: 860px;
        height: 240px;
        resize: vertical;
        background: none;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 24px;
        resize: none;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(137, 188, 217);
            border-radius: 12px; // half of the scrollbar width for a pill shape
            border: 4px solid transparent; // creates space at top/bottom
            background-clip: padding-box;
            min-height: 40px; // optional: minimum thumb size
            cursor: pointer;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 32px;
            cursor: pointer;
            margin: 12px 0; // adds space at top/bottom of the track
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}


input,
textarea {
    width: 100%;
    font-size: 1em !important;
    font-family: inherit !important;
    line-height: 1.2 !important;
    padding: 10px 36px 10px 20px;
    color: white !important;
    z-index: 5;
}

.privacy-policy {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8em;
    color: white;
    width: 100%;
    max-width: 860px;
    margin-top: 8px;
    margin-bottom: 8px;

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin-right: 6px;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        // background-image: url(/src/assets/img/checkbox.svg);
    }

    label {
        display: flex;
        align-items: center;
    }

    label::before {
        content: '';
        width: 1.7em;
        height: 1.7em;
        // border: 0.5em solid rgb(137, 188, 217);
        // border-radius: .5em;
        margin-right: .5em;
        background-image: url('../../assets/img/checkbox.svg');
        background-repeat: no-repeat;
        object-fit: contain;
        transition-property: background-image;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    label:hover::before,
    input[type="checkbox"]:hover+label::before {
        cursor: pointer;
        background-image: url('../../assets/img/checkbox_hover.svg');
        width: 1.7em;
        height: 1.7em;
    }

    span {
        color: rgb(137, 188, 217);
        cursor: pointer;
        // display: flex;
    }
}

.privacy-policy input[type="checkbox"].error-input+label::before {
    background-image: url('../../assets/img/checkbox_red.svg');
    width: 1.7em;
    height: 1.7em;
}

.privacy-policy input[type="checkbox"]:checked+label::before {
    background-image: url('../../assets/img/checkbox_checked.svg');
    width: 1.7em;
    height: 1.7em;
}

.error-message {
    color: red !important;
    font-size: 0.9em;
    margin: 4px 0 0 28px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 860px;
}

.submit-btn {
    @include defaultFont($c: white, $fw: 400);
    border: 2px solid rgb(137, 188, 217);
    color: rgb(137, 188, 217);
    border-radius: 50vw;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;

    &:hover {
        background-color: rgba(137, 188, 217, 0.3);
    }

    &.inactive {
        border-color: rgb(137, 188, 217, 0.5);
        color: rgb(137, 188, 217, 0.5);
        cursor: not-allowed;
    }

}

.error-label {
    color: red !important;
}

.error-input {
    border: 1px solid red !important;
}

.done-icon {
    width: 16px;
    height: 16px;
    background-image: url('../../assets/icons/icon_done.svg');
    // background: transparent;
    position: absolute;
    top: 37px;
    right: 16px;
    z-index: 10;
}