@use '../../styles.scss' as *;

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    background-color: transparent !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus,
textarea:focus {
    outline: none !important; // Remove default browser outline
    box-shadow: 0 0 0 2px #89bcd9 !important; // Your custom focus style
    border-color: #89bcd9 !important; // Your custom border color

    // background-color: rgba(137, 188, 217, 0.5) !important;

}

.contact-form-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 860px;
    margin-bottom: 160px;
}

.row-1,
.row-2 {
    width: 100%;
    max-width: 860px;

    label {
        margin-bottom: 6px;
        margin-left: 24px; // slight shift from the left edge
        font-size: 1em;
        color: rgb(137, 188, 217); // or your preferred color
    }
}

.row-1 {
    display: flex;
    gap: 16px;
    height: 89px;

    @media (max-width: 1020px) {
        flex-direction: column;
    }

    input {
        flex: 1 1 0;
        height: 60px;
        background: transparent;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 50vw;

    }
}

.row-2 {
    flex: 1 1 0;
    width: 100%;

    @media (max-width: 1020px) {
        margin-top: 96px;
    }

    textarea {
        // width: 100%;
        max-width: 860px;
        height: 240px;
        resize: vertical;
        background: none;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 24px;
        resize: none;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(137, 188, 217);
            border-radius: 12px;
            border: 4px solid transparent;
            background-clip: padding-box;
            min-height: 40px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 32px;
            cursor: pointer;
            margin: 12px 0;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

input,
textarea {
    width: 100%;
    font-size: 1em !important;
    font-family: inherit !important;
    line-height: 1.2 !important;
    padding: 10px 36px 10px 20px;
    color: white !important;
    z-index: 5;

    &:hover {
        background-color: rgba(137, 188, 217, 0.2) !important;
    }
}

.privacy-policy,
.privacy-policy-resp {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 0.8em;
    color: white;
    width: 100%;
    max-width: 860px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 56px;

   // input[type="checkbox"] {
    //     width: 16px;
    //     height: 16px;
    //     margin-right: 6px;
    //     cursor: pointer;
    //     // opacity: 0;
    //     opacity: 0.02;
    //     position: absolute;
   // }

    label {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    
        // display: flex;
        // flex-wrap: wrap;
        // align-items: flex-start;
        // white-space: normal;
        // gap: 0.5em;


    }

    // label::before {
    //     content: '';
    //     width: 1.7em;
    //     height: 1.7em;
    //     margin-right: .5em;
    //     background-image: url('../../assets/img/checkbox.svg');
    //     background-repeat: no-repeat;
    //     object-fit: contain;
    //     transition-property: background-image;
    //     transition-duration: 0.3s;
    //     transition-timing-function: ease-in-out;
    // }

    // label:hover::before,
    // input[type="checkbox"]:hover+label::before {
    //     cursor: pointer;
    //     background-image: url('../../assets/img/checkbox_hover.svg');
    //     width: 1.7em;
    //     height: 1.7em;
    // }

    span {
        color: rgb(137, 188, 217);
        cursor: pointer;
        margin: 0 0.3em;
    }
}

// .privacy-policy input[type="checkbox"].error-input+label::before {
//     background-image: url('../../assets/img/checkbox_red.svg');
//     width: 1.7em;
//     height: 1.7em;
// }

// .privacy-policy input[type="checkbox"]:checked+label::before {
//     background-image: url('../../assets/img/checkbox_checked.svg');
//     width: 1.7em;
//     height: 1.7em;
// }



.error-message {
    color: red !important;
    font-size: 0.9em;
    margin: 4px 0 0 28px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 860px;
}

.submit-btn {
    @include defaultFont($c: white, $fw: 400);
    border: 2px solid rgb(137, 188, 217);
    color: rgb(137, 188, 217);
    border-radius: 50vw;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;

    &:hover {
        background-color: rgba(137, 188, 217, 0.3);
    }

    &:disabled {
        border-color: rgb(137, 188, 217, 0.5);
        color: rgb(137, 188, 217, 0.5);
        cursor: not-allowed;
        opacity: 0.7;
    }
}

.error-label {
    color: red !important;
}

.error-input {
    border: 1px solid red !important;
}

.done-icon {
    width: 16px;
    height: 16px;
    background-image: url('../../assets/icons/icon_done.svg');
    // background: transparent;
    position: absolute;
    top: 37px;
    right: 16px;
    z-index: 10;
}

.success-message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    max-width: 860px;
    height: 94px;
    background-color: rgb(137, 188, 217, 0.3);
    // box-shadow: 0 0 0.5em rgb(204, 220, 230, 1);
    border-radius: 24px;
}

.success-message {
    @include defaultFont($c: white, $fw: 400);
    color: white;
    font-size: 1em;
    gap: 16px;
    z-index: 1;

    .done-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../../assets/icons/icon_done.svg');
        background-repeat: no-repeat;
        position: static;
        z-index: 1;
    }
}



/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    // background-color: #eee;
    background-image: url('../../assets/img/checkbox.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    // background-color: #ccc;
    background-image: url('../../assets/img/checkbox_hover.svg');
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    // background-color: #2196F3;
    background-image: url('../../assets/img/checkbox_checked.svg');
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}