@use '../../styles.scss' as *;

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    background-color: transparent !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus,
textarea:focus {
    outline: none !important; 
    box-shadow: 0 0 0 2px #89bcd9 !important; 
    border-color: #89bcd9 !important; 
}

.contact-form-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 860px;
    margin-bottom: 160px;
}

.row-1,
.row-2 {
    width: 100%;
    max-width: 860px;

    label {
        margin-bottom: 6px;
        margin-left: 24px; 
        font-size: 1em;
        color: rgb(137, 188, 217); 
    }
}

.row-1 {
    display: flex;
    gap: 16px;
    height: 89px;

    @media (max-width: 1020px) {
        flex-direction: column;
    }

    input {
        flex: 1 1 0;
        height: 60px;
        background: transparent;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 50vw;
    }
}

.row-2 {
    flex: 1 1 0;
    width: 100%;

    @media (max-width: 1020px) {
        margin-top: 96px;
    }

    textarea {
        // width: 100%;
        max-width: 860px;
        height: 240px;
        resize: vertical;
        background: none;
        border: 1px solid rgb(137, 188, 217);
        border-radius: 24px;
        resize: none;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(137, 188, 217);
            border-radius: 12px;
            border: 4px solid transparent;
            background-clip: padding-box;
            min-height: 40px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 32px;
            cursor: pointer;
            margin: 12px 0;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

input,
textarea {
    width: 100%;
    font-size: 1em !important;
    font-family: inherit !important;
    line-height: 1.2 !important;
    padding: 10px 36px 10px 20px;
    color: white !important;
    z-index: 5;

    &:hover {
        background-color: rgba(137, 188, 217, 0.2) !important;
    }
}

.submit-btn.btn-disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.privacy-policy,
.privacy-policy-resp {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 0.8em;
    color: white;
    width: 100%;
    max-width: 860px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 56px;

    a {
        color: rgb(137, 188, 217);
        cursor: pointer;
        margin: 0 0.3em;
        text-decoration: none;
    }

    label {
        flex-wrap: wrap;
    }
}

label.container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 38px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    p {
        margin-top: 5px;
        font-size: 1.3em;
        line-height: 1.3em;
    }
}

.container input {
    position: static;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-image: url('../../assets/img/checkbox.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.checkmark:hover {
    background-image: url('../../assets/img/checkbox_hover.svg');
}

.container input:checked~.checkmark {
    background-image: url('../../assets/img/checkbox_checked.svg');
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.error-message {
    color: red !important;
    font-size: 0.9em;
    margin: 4px 0 0 38px !important;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 860px;
}

.submit-btn {
    @include defaultFont($c: white, $fw: 400);
    border: 2px solid rgb(137, 188, 217);
    color: rgb(137, 188, 217);
    border-radius: 50vw;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;

    &:hover {
        background-color: rgba(137, 188, 217, 0.3);
    }

    &:disabled {
        border-color: rgb(137, 188, 217, 0.5);
        color: rgb(137, 188, 217, 0.5);
        cursor: not-allowed;
        opacity: 0.7;
    }
}

.error-label {
    color: red !important;
}

.error-input {
    border: 1px solid red !important;
}

.done-icon {
    width: 16px;
    height: 16px;
    background-image: url('../../assets/icons/icon_done.svg');
    position: absolute;
    top: 37px;
    right: 16px;
    z-index: 10;
}

.success-message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    max-width: 860px;
    height: 94px;
    background-color: rgb(137, 188, 217, 0.3);
    border-radius: 24px;
}

.success-message {
    @include defaultFont($c: white, $fw: 400);
    color: white;
    font-size: 1em;
    gap: 16px;
    z-index: 1;

    .done-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../../assets/icons/icon_done.svg');
        background-repeat: no-repeat;
        position: static;
        z-index: 1;
    }
}