.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 1440px;
    max-width: 1440px;
    background-color: rgba(38, 46, 52, 1);
}

app-landing-page,
app-footer {
    display: flex;
    width: 100%;
}
app-landing-page {
    height: 100vh;
}

// app-nav {
//     position: sticky;
//     top: 0;
//     z-index: 1;
//     align-items: center;
//     justify-content: space-between;
// }

// nav {
//     width: 100%;
//     background: rgba(137, 188, 217, 1);
//     height: 104px;
//     padding: 8px 120px;
//     display: flex;
//     justify-content: center;
// }