.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 1440px;
    max-width: 1440px;
    background-color: rgba(38, 46, 52, 1);
}