.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    // width: 1440px;
    width: 100%;
    max-width: 1440px;
    background-color: rgba(38, 46, 52, 1);
}
main {
    width: 100%;
}

app-landing-page {
    display: flex;
    width: 100%;
}
// app-landing-page {
//     height: 100%;
// }

// app-nav {
//     position: sticky;
//     top: 0;
//     z-index: 1;
//     align-items: center;
//     justify-content: space-between;
// }

// nav {
//     width: 100%;
//     background: rgba(137, 188, 217, 1);
//     height: 104px;
//     padding: 8px 120px;
//     display: flex;
//     justify-content: center;
// }
footer {
    width: 100%;
    background: rgba(137, 188, 217, 1);
    height: 160px;
    padding: 8px 109px;
    display: flex;
    justify-content: center;
    align-items: center;
}