@use '../../styles.scss' as*;

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(38, 46, 52, 1);
}

main {
    width: 100%;
}

app-landing-page {
    display: flex;
    width: 100%;
}

app-landing-page-resp {
    @include display-resp($breakpoint: 1020px);
}

app-nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

app-landing-page,
nav {
    @include hide-for-resp($breakpoint: 1020px);
}

app-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

nav,
footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    isolation: isolate;
    position: relative;

    @media (min-width: 900px) {
        padding: 8px 109px;
    }
}

nav::before,
footer::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    background: rgba(137, 188, 217, 1);
    z-index: -1;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2000;
    height: 104px;
    padding: 8px 0;
}

footer {
    height: auto;
}

app-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}