@use '../../styles.scss' as*;

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(38, 46, 52, 1);
}

main {
    width: 100%;
}

app-landing-page {
    display: flex;
    width: 100%;
}

app-landing-page-resp {
    @include display-resp($breakpoint: 1020px);
}

app-nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2000;
    width: 100%;
    background: rgba(137, 188, 217, 1);
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-landing-page,
nav {
    @include hide-for-resp($breakpoint: 1020px);
}

app-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    background: rgba(137, 188, 217, 1);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav,
footer {
    // padding: 8px 16px;

    @media (min-width: 900px) {
        padding: 8px 109px;
        width: 100%;
    }
}

app-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}