@use '@angular/material' as mat;



//:root {
app-tabs {
  // @include mat.tabs-overrides(( 
  //   active-focus-indicator-color: #2d383f,
  //     active-focus-label-text-color: white,
  //     inactive-label-text-color: #89BCD9,
  //     active-focus-indicator-color: #d499c6,
  //     active-indicator-shape: 10px,
  //     active-indicator-height: 50px,
  //     active-indicator-color: #2d383f,
  //     active-indicator-color: #d499c6,
  //     background-color: #89d8d8
  //   ));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.my-projects-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}