.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86%;
    max-width: 860px;
    //   margin: 0 auto 32px auto;
    position: relative;

    button {
        background: none;
        border: none;
        position: absolute;
        top: 80px;
        left: 896px;
        // right: 0;
        cursor: pointer;
    }
}

.section-content {
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

// p.left-container {
//     text-align: center;
// }

.left-container,
.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    color: white;
}

.right-container {
    gap: 16px;

    span {
        align-items: center;
        display: flex;
        gap: 8px;
        cursor: pointer;
    }

    img {
        width: 18px;
        height: 18px;
    }
}

app-contact-form,
.contact-form {
    width: 100%;
    max-width: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

// .arrow-up-btn {
//     position: absolute;
//     top: 0;
//     left: 860px;
//     background: none;
//     border: none;
//     cursor: pointer;
//     // margin-top: 64px;
//     // margin-left: 24px;
// }

// .arrow-up-btn {
//     background: none;
//     border: none;
//     cursor: pointer;
//     // margin-top: 120px;
// }

.arrow-up-btn:hover .arrow-up-img {
    display: none;
}