.section-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

// p.left-container {
//     text-align: center;
// }

.left-container,
.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    color: white;
}

.right-container {
    gap: 16px;

    span {
        align-items: center;
        display: flex;
        gap: 8px;
        cursor: pointer;
    }

    img {
        width: 18px;
        height: 18px;
    }
}

app-contact-form,
.contact-form {
    width: 100%;
    max-width: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

}