@use '../../styles.scss' as*;

.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86%;
    max-width: 860px;
    position: relative;

    a {
        position: absolute;
        top: 80px;
        left: 896px;
        cursor: pointer;

        @media (max-width: 1020px) {
            top: 980px;
            left: 50%;
        }
    }
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
}

.left-container,
.right-container,
.bottom-container,
.top-container {
    display: flex;
    flex-direction: column;
    color: white;

    @media (max-width: 1020px) {
        width: min(42em, 80vw);
    }
}

.left-container,
.right-container {
    flex: 1 1 0;
    @include hide-for-resp(1020px);
}

.right-container {
    gap: 16px;

    span {
        align-items: center;
        display: flex;
        gap: 8px;
        cursor: pointer;
    }

    img {
        width: 18px;
        height: 18px;
    }
}

.bottom-container,
.top-container {
    @media (max-width: 1020px) {
        width: min(42em, 90vw);
        align-items: flex-start;
    }

    @include display-resp(1020px);
}

.top-container {
    gap: 16px;

    @media (max-width: 1020px) {
        margin-bottom: 16px;
    }

    span {
        align-items: center;
        display: flex;
        gap: 8px;
        cursor: pointer;

        @media (max-width: 1020px) {
            margin-bottom: 12px;
        }
    }

    img {
        width: 18px;
        height: 18px;
    }
}

app-contact-form,
.contact-form {
    width: 100%;
    max-width: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @media (max-width: 1020px) {
        width: min(42em, 90vw);
        margin-bottom: 70px;
    }
}

.arrow-up-btn {
    background: none;
    border: none;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 50vw;

    &:hover {
        background-color: rgba(137, 188, 217, 0.3);
        border-radius: 50vw;
    }
}