.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86%;
    max-width: 860px;
    position: relative;

    a {
        position: absolute;
        top: 80px;
        left: 896px;
        cursor: pointer;
    }
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

.left-container,
.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    color: white;
}

.right-container {
    gap: 16px;

    span {
        align-items: center;
        display: flex;
        gap: 8px;
        cursor: pointer;
    }

    img {
        width: 18px;
        height: 18px;
    }
}

app-contact-form,
.contact-form {
    width: 100%;
    max-width: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

// .contact-form {
//     // display: flex;
//     // flex-direction: column;
//     // gap: 16px;

// }

.arrow-up-btn {
    background: none;
    border: none;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 50vw;




    &:hover {
        background-color: rgba(137, 188, 217, 0.3);
        border-radius: 50vw;
    }
}