@use '../../styles.scss' as*;

.lp-logo {
    width: 94px;
    height: auto;
    z-index: 10;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    width: 56%;

    a {
        position: relative;
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
        padding: 18px 16px;
        @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);
        transition: color 0.3s ease-in, opacity 0.5s ease-in;

        &:hover {
            text-decoration: none;
            color: white;
            
        }

        &.active::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            background-image: url('../../assets/img/nav_bg.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 72% 72%;
            opacity: 1;
            transition: opacity 0.5s ease-in;
            pointer-events: none;
            padding: 18px 16px;


        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            opacity: 0;
            transition: opacity 0.5s ease-in;
            pointer-events: none;
        }
    }
}

.de-btn,
.en-btn {
    position: relative;
    text-decoration: none;
    border: none;
    background: transparent;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    padding: 18px 16px;
    @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);
    transition: color 0.3s ease-in, opacity 0.5s ease-in;


    &:hover {
        text-decoration: none;
        color: white;

    }

    &.active::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url('../../assets/img/nav_bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 72% 72%;
        opacity: 1;
        transition: opacity 0.5s ease-in;
        pointer-events: none;
        padding: 18px 16px;


    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        pointer-events: none;
    }
}