@use '../../styles.scss' as*;

.lp-logo {
    width: 94px;
    height: auto;
    z-index: 10;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    width: 56%;

    // a {
    //     text-decoration: none;
    //     font-size: 20px;
    //     line-height: 24px;
    //     cursor: pointer;
    //     padding: 18px 16px;
    //     @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);

    //     // transition-property: background-image;
    //     // transition-duration: 0.9s;
    //     // transition-timing-function: ease-in-out;

    //     &:hover {
    //         text-decoration: none;
    //         color: white;
    //     }
    // }

    a {
        position: relative;
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
        padding: 18px 16px;
        @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);

        &:hover {
            text-decoration: none;
            color: white;
        }

        &.active::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            background-image: url('../../assets/img/nav_bg.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 72% 72%;
            opacity: 1;
            transition: opacity 0.5s ease-in;
            pointer-events: none;
            padding: 18px 16px;


        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            opacity: 0;
            transition: opacity 0.5s ease-in;
            pointer-events: none;
        }
    }
}

// a.active {
//     background-image: url(../../assets/img/nav_bg.svg);
//     background-repeat: no-repeat;
//     background-position: center;
//     object-fit: cover;

//     transition-property: background-image;
//     transition-duration: 0.9s;
//     transition-timing-function: ease-in-out;

// }