// section.nav-bar {
//     display: flex;
//     justify-content: space-between;
//     gap: 2rem;
//     padding: 1rem;
//     width: 56%;

//     a {
//         color: rgba(38, 46, 52, 1);
//         text-decoration: none;
//         font-family: 'Montserrat', sans-serif;
//         font-weight: 600;
//         font-size: 20px;
//         line-height: 24px;
//         cursor: pointer;

//         &:hover {
//             text-decoration: underline;
//         }
//     }
// }