@use '../../styles.scss' as*;

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    width: 56%;

    a {
        // color: rgba(38, 46, 52, 1);
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
        @include defaultFont($c: rgba(38, 46, 52, 1), $fw: 500);

        &:hover {
            text-decoration: underline;
        }
    }
}