// @use '@angular/material' as mat;

// //:root {
// app-tabs {
//   @include mat.tabs-overrides((
//     active-focus-indicator-color: orange,
//     active-focus-label-text-color: red,
//     background-color: #f7f6f6,
//     inactive-label-text-color: #f7f6f6,
//     active-indicator-shape: rectangle,
//     active-indicator-color: orange,
//   ));

// }

.tab-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.tab-header {
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.tab-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.83em;
  cursor: pointer;
  background-color: aquamarine;
  padding: 10px 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

