// @use '@angular/material' as mat;

// //:root {
// app-tabs {
//   @include mat.tabs-overrides((
//     active-focus-indicator-color: orange,
//     active-focus-label-text-color: red,
//     background-color: #f7f6f6,
//     inactive-label-text-color: #f7f6f6,
//     active-indicator-shape: rectangle,
//     active-indicator-color: orange,
//   ));

// }

.tab-group, .tab-content, app-my-projects {
  max-width: 1214px; // or your intended max width
  margin: 0 auto;
  box-sizing: border-box;
}

.tab-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-evenly;

}



.tab-header {
  width: 89%;
  display: flex;
  // align-items: center;
  // justify-content: flex-start;
  gap: 20px;
}

.tab-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.83em;
  color: rgb(137, 188, 217);
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 8px 8px 0 0;
}

.tab-label.active {
  background: rgba(137, 188, 217, 0.07);
  font-weight: bold;
  color: white;
  z-index: 1;
}

// .tab-body {
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: rgb(109, 124, 190);
// }

.tab-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgb(163, 179, 155);
  min-height: 100px;

}

.tab-content.active {
  // background: rgb (137, 188, 217);
  background: rgba(137, 188, 217, 0.07);
  // background: #89bcd9;
  width: 100%;
 
}

.tab-content section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.83em;
  padding: 20px;
  color: white;
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

app-project {
  width: 88%;
  display: flex;
  // align-items: center;
  justify-content: center;
  gap: 20px;
}