// @use '@angular/material' as mat;


// //:root {
// app-tabs {
//   @include mat.tabs-overrides((
//     active-focus-indicator-color: orange,
//     active-focus-label-text-color: red,
//     background-color: #f7f6f6,
//     inactive-label-text-color: #f7f6f6,
//     active-indicator-shape: rectangle,
//     active-indicator-color: orange,
//   ));
  
// }

.custom-tab-label {
  font-weight: bold;
  background-color: #89BCD9;
  opacity: 0.8;
}

.mdc-tab-indicator--active .mdc-tab-indicator__content {
    opacity: 0 !important;
}
