@use '../../styles.scss' as*;

.tab-group,
.tab-content,
app-my-projects {
  max-width: 1214px; // or your intended max width 
  margin: 0 auto;
  box-sizing: border-box;
}

.tab-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-header {
  width: 89%;
  display: flex;
  gap: 20px;

  flex-wrap: wrap;

  @media (max-width: 1020px) {
    width: min(42em, 90vw);
    gap: 8px;
  }
}


.tab-label,
.tab-label-resp {
  font-size: 1.3em;
  line-height: 1.6em;
  color: rgb(137, 188, 217);
  cursor: pointer;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  min-width: 0;
  flex: 1 1 0;

  @media (max-width: 1020px) {
    padding: 8px 10px;
    font-size: 1em;
  }

}


.tab-label {
  @include hide-for-resp($breakpoint: 1020px);
}


.tab-label.active,
.tab-label-resp.active {
  background: rgba(137, 188, 217, 0.07);
  font-weight: bold;
  color: white;
  z-index: 1;
}

.tab-label-resp {
  @include display-resp($breakpoint: 1020px);

  // font-size: 1.5em;
  // line-height: 1.83em;
  // color: rgb(137, 188, 217);
  // cursor: pointer;
  // padding: 10px 30px;
  // border-radius: 8px 8px 0 0;
}


.tab-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;

  @media (max-width: 1020px) {
    flex-direction: column;
    gap: 20px;
  }
}

.tab-content.active {
  background: rgba(137, 188, 217, 0.07);
  width: 100%;

}

.tab-content section {
  @include defaultFont($c: white, $fw: 500);
  font-size: 1.2em;
  line-height: 1.83em;
  padding: 20px;
  color: white;
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-project {
  width: 88%;
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (max-width: 1020px) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}