// @use '@angular/material' as mat;

// //:root {
// app-tabs {
//   @include mat.tabs-overrides((
//     active-focus-indicator-color: orange,
//     active-focus-label-text-color: red,
//     background-color: #f7f6f6,
//     inactive-label-text-color: #f7f6f6,
//     active-indicator-shape: rectangle,
//     active-indicator-color: orange,
//   ));

// }

.tab-group {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-evenly;

}

.tab-header {
  // width: 89%;
  display: flex;
  // align-items: center;
  // justify-content: flex-start;
  gap: 20px;
}

.tab-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.83em;
  cursor: pointer;
  background-color: rgb(109, 124, 190);
  padding: 10px 30px;
  border-radius: 8px 8px 0 0;
}

.tab-label.active {
  background: #89BCD9;
  font-weight: bold;
}

// .tab-body {
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: rgb(109, 124, 190);
// }

.tab-content {
  padding: 16px;
  background-color: rgb(109, 124, 190);
  min-height: 100px;
}

.tab-content.active {
  background: #89BCD9;
}