 @use '../../styles.scss' as*;

.soc-med {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    gap: 12px;

    a {
        cursor: pointer;
        text-decoration: none;
    }

}