.soc-med {
    position: absolute;
    top: 56px;
    left: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    z-index: 99;

    a {
        cursor: pointer;
    }
    
}