 @use '../../../styles.scss' as*;

 .privacy-policy-overlay {
     left: 0;
     right: 0;
     margin: 0 auto;
     max-width: 980px; 
     width: 90vw;
     z-index: 1000;
     background: white;
     overflow-y: auto;
 }

 p,
 h3 {
     white-space: pre-line;
     color: black;
 }