 @use '../../../styles.scss' as*;

 .privacy-policy-overlay {
     left: 0;
     right: 0;
     margin: 0 auto;
     max-width: 980px;
     width: 90vw;
     z-index: 1000;
     background-color: rgb(38, 46, 52);
     overflow-y: auto;
     gap: 24px;
 }

 .headline-row {
     display: flex;
     align-items: center;
     gap: 10px;
     margin-bottom: 12px;
 }

 h2 {
     font-size: 1.4em;
     margin-bottom: 12px;
     color: rgb(137, 188, 217);
 }

 .priv-pol-text {
     font-size: 1.2em;
     line-height: 1.3em;
     width: 100%;
     margin-bottom: 24px;
     color: white;
 }

 .arrow-left-btn {
    width: 80px;
    background: none;
    border: none;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 50vw;

    &:hover {
        background-color: rgba(137, 188, 217, 0.3);
        border-radius: 50vw;
    }
}