// .my-skills-content {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 32px;
//     width: 86%;
//     max-width: 860px;
    
//     p {
//         font-family: 'Open Sans', sans-serif;
//         font-size: 1.1em;
//         line-height: 1.75em;
//         width: 50%;
//     }
// }

.section-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

.left-container,
.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}