@use '../../styles.scss' as*;

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 860px;
    margin: 0 auto;

    @media (max-width: 1020px) {
        flex-direction: column;
        align-items: center;
    }
}

.right-container {
    border: 1px solid red;
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 380px;
    // overflow: hidden;
}

.left-container {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(3, 90px);
    gap: 32px;

    @media (max-width: 1020px) {
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(3, 80px);
        // gap: 26px;
        justify-content: center;
        
    }


    @media (max-width: 650px) {
        width: min(35em, 70vw);

    }

    @media (max-width: 580px) {
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: repeat(3, 70px);
        gap: 16px;
    }

}

.skill-icon {
    width: 70px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

      @media (max-width: 1020px) {
        font-size: 1em;
        
    }
}