// .my-skills-content {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 32px;
//     width: 86%;
//     max-width: 860px;

//     p {
//         font-family: 'Open Sans', sans-serif;
//         font-size: 1.1em;
//         line-height: 1.75em;
//         width: 50%;
//     }
// }

.section-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

.right-container {
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: url(/assets/img/shape_2.svg);
    // background-repeat: no-repeat;
    // background-position: center;
    // object-fit: contain;
    width: 380px;
    height: 380px;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(/assets/img/shape_2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0.7; // 7% opacity
        z-index: 1;
    }
}

.right-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.24em;
    width: 50%;
    z-index: 2;
    color: white;
    text-align: center;

    // filter: opacity(1);
    img {
        width: 32px;
        height: 32px;
        // object-fit: cover;
        background-color: purple;
        // margin-bottom: 10px;
    }

}

// .left-container {
//     display: flex;
//     flex-wrap: wrap;
//     flex: 1 1 0;
//     gap: 32px;
//     img {
//         width: 50px;
//         height: 50px;
//         background-color: purple; 
//     }
// }

.left-container {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(4, 60px); // 4 columns, each 60px wide
    grid-template-rows: repeat(3, 80px); // 3 rows, each 80px tall
    gap: 32px;

    img {
        width: 50px;
        height: 50px;
        background-color: purple;
    }
}


// grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
// or
// Example: Different Cell Sizes
// .left-container {
//   display: grid;
//   grid-template-columns: 60px 80px 100px; // 3 columns, each with different width
//   grid-template-rows: 50px 70px;         // 2 rows, each with different height
//   gap: 16px;
// }

// Example: Targeting a Specific Cell
// .left-container img:nth-child(2) {
//   grid-column: 2;
//   grid-row: 1 / span 2; // spans two rows
//   width: 80px;
//   height: 120px;
// }