@use '../../styles.scss' as*;

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    // width: 86%;
    max-width: 860px;
    margin: 0 auto;
}

.right-container {
    border: 1px solid red;
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 380px;
    overflow: hidden;

}

.left-container {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(4, 60px); // 4 columns, each 60px wide
    grid-template-rows: repeat(3, 80px); // 3 rows, each 80px tall
    gap: 32px;

    // img {
    //     width: 50px;
    //     height: 50px;
    //     background-color: purple;
    // }
}

.skill-icon {
    width: 50px;
    height: 50px;
    // background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    // overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}