 @use '../../styles.scss' as*;

 .lp-content {
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
     // gap: 80px;
     padding: 0;
 }

 .persona {
     display: flex;
     justify-content: center;
     gap: 80px;
     align-items: center;
     width: 1214px;
 }

 .lp-img-box {
     position: relative;
     width: 580px;
     height: 683px;
 }

 .hero-img-bg {
     width: 594px;
     height: 710px;
     position: absolute;
     // top: 0;
     bottom: 0;
     right: 0;
     transform: rotate(-15deg);
 }

 .hero-img {
     width: 535px;
     height: 632px;
     position: absolute;
     // top: 0;
     bottom: 0;
     right: 0;
     z-index: 1;
 }

 .lp-text-box {
     max-width: 540px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

     h1 {
         // @include headingFont($c:rgb(137, 188, 217), $fw:400);
         font-size: 3.2em;
         line-height: 48px;
     }

     p {
         @include defaultFont($c: #FFFFFF, $fw: 400);
         font-size: 1.7em;
         line-height: 32px;
         color: #FFFFFF;
     }
 }

 .arrow-down-btn {
     background: none;
     border: none;
     cursor: pointer;
     margin-top: 120px;

     &:hover {
         background-color: rgba(137, 188, 217, 0.3);
         border-radius: 50vw;
     }
 }

//  app-nav {
//      // position: sticky;
//      // top: 0;
//      // z-index: 1;
//      align-items: center;
//      justify-content: space-between;
//      display: flex;
//      width: 100%;
//  }

//  nav {
//     width: 100%;
//     background: rgba(137, 188, 217, 1);
//     height: 104px;
//     padding: 8px 109px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//  }