 @use '../../styles.scss' as*;

 .lp-content {
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
     // gap: 80px;
     padding: 0;
     position: relative;
 }

 .persona {
     display: flex;
     justify-content: center;
     //  gap: 80px;
     align-items: center;
     width: 1214px;
 }

 .lp-img-box {
     position: relative;
     width: 580px;
     height: 683px;
 }

 .hero-img-bg {
     width: 594px;
     height: 710px;
     position: absolute;
     // top: 0;
     bottom: 0;
     right: 0;
     transform: rotate(-15deg);
 }

 .hero-img {
     width: 535px;
     height: 632px;
     position: absolute;
     // top: 0;
     bottom: 0;
     right: 0;
     z-index: 1;
 }

 .lp-text-box {
     max-width: 540px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

     h1 {
         // @include headingFont($c:rgb(137, 188, 217), $fw:400);
         font-size: 3.6em;
         line-height: 48px;
     }

     p {
         @include defaultFont($c: #FFFFFF, $fw: 400);
         font-size: 1.7em;
         line-height: 32px;
         color: #FFFFFF;
     }
 }

 .arrow-down-btn {
     background: none;
     border: none;
     cursor: pointer;
     margin-top: 120px;

     &:hover {
         background-color: rgba(137, 188, 217, 0.3);
         border-radius: 50vw;
     }
 }

 .soc-med-container {
     position: absolute;
     top: 56px;
     right: 96px;

     app-soc-med ::ng-deep .soc-med {
         flex-direction: column;
         gap: 12px;
     }
 }



 //  @mixin socMedPosition($p: absolute, $t: 56px, $l: 480px, $fd: column, $gap: 12px) {
 //      position: $p;
 //      top: $t;
 //      left: $l;
 //      flex-direction: $fd;
 //      gap: $gap;
 //  }

 //  .soc-med-container app-soc-med ::ng-deep .soc-med {
 //      @include socMedPosition($p: absolute, $t: 56px, $l: 700px, $fd: column, $gap: 12px);
 //  }