.lp-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 80px;
}

.lp-img-box {
    position: relative;
    width: 580px;
    height: 683px;
}

.hero-img-bg {
    width: 594px;
    height: 710px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(1);
}

.hero-img {
    width: 535px;
    height: 632px;
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.lp-text-box {
    max-width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #FFFFFF;
    }
}