.highlight-shape-container-resp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(35em, 90vw);
    height: auto;
    font-size: 1.2em;

    p {
        text-align: center;
        color: white;
    }

    @media (min-width: 1021px) {
        display: none;
    }
}

.claim {
    font-size: 1.4em;
    margin-bottom: 1em;
    text-align: center;
}

.highlight-shape-resp-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.24em;
    width: 50%;
    z-index: 2;
    color: white;
}

.reference {
    font-size: 0.9em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    width: 240px;
    height: 160px;
}

.reference::before {
    content: '';
    position: absolute;
    width: 240px;
    height: 160px;
    background-image: url('../../assets/img/shape_2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    opacity: 0.09;
}

.project-reference {
    font-size: 0.9em;
    color: white;
    text-align: center;
    margin-bottom: 12px;
    color: rgb(137, 188, 217);
}

.icon-with-label {
    margin: 18px 0px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    gap: 8px;

    img {
        width: 35px;
        height: 40px;
        flex: 0 0 auto;
        object-fit: contain;
    }
}