<section class="highlight-shape-container-resp">
  
  <span class="claim">{{ claim }}</span>

  <p class="text">{{ text }}
  @if (link) {
  <a class="link" [href]="link" target="_blank">{{ linkLabel }}</a>
  }
  </p>

  <div class="reference">

    @if (reference && Array.isArray(reference)) {
    @for (item of reference; let i = $index; track i) {
    <div class="icon-with-label">
      <img [src]="item.icon" [alt]="item.label" />
      <span class="icon-label">{{ item.label }}</span>
    </div>
    }
    }
    @if (reference && !Array.isArray(reference)) {
    <span>Project <span class="project-reference"> {{ reference }}</span></span>
    }

  </div>

</section>