.left-container,
.right-container {
    flex: 1 1 0;
    margin-top: 16px;

}

.right-container,
.mp-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies {
    // gap: 32px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 32px;
        height: auto;
    }

}

.icon-row {
    display: flex;
    gap: 16px;
    margin-top: 8px;
    align-items: center;
}

.mp-img {
    width: 454px;
    height: 312px;
    border-radius: 30px;
    object-fit: cover;
    margin: 10px 0 30px 0;
}


.left-container {
    .headline-row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 4px; // space between headline and paragraph

        .bullet-img {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.2em;
            line-height: 1.5em;
            color: white;
            margin: 0;
        }
    }

    .project-paragraph {
        margin: 0 0 18px 34px; // left margin matches bullet+gap width
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
        line-height: 1.75em;
        color: white;
    }

}

