<div class="left-container">
  <div class="left-container">
    @for (item of projectData.content; track $index) {
    <div class="headline-row">
      <img src="../assets/img/bullet_icon.svg" alt="bullet" class="bullet-img" />
      <h3>{{ item.headline.en }}</h3>
    </div>
    <p class="project-paragraph">{{ item.text.en }}</p>
    }
  </div>
</div>

<div class="right-container">
  <div class="technologies">
    <h3>Technologies</h3>
    @if (projectData.icons && projectData.icons.length) {
    <div class="icon-row">
      @for (icon of projectData.icons; track $index) {
      <img [src]="icon.icon" [alt]="icon.alt" />
      }
    </div>
    }
  </div>
  @if (projectData.projectImage) {
  <img [src]="projectData.projectImage" alt="{{ projectData.label }}" class="mp-img">
  }

  <div class="mp-btn">
    <button class="live-test">
      Live Test
    </button>
    <button class="github">
      GitHub
    </button>
  </div>
</div>