@use '../../styles.scss' as*;

.left-container,
.right-container {
    flex: 1 1 0;
    margin-top: 16px;

}

.left-container {
    .headline-row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 4px; // space between headline and paragraph

        .bullet-img {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }

        h3 {
            @include defaultFont($c: white, $fw: 400);
            // font-family: 'Montserrat', sans-serif;
            // font-weight: 700;
            font-size: 1.2em;
            line-height: 1.5em;
            color: white;
            margin: 0;
        }
    }

    .project-paragraph {
        margin: 0 0 18px 34px; // left margin matches bullet+gap width
        // font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
        line-height: 1.75em;
        color: white;
    }

}

.right-container,
.mp-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies {
    // gap: 32px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 32px;
        height: auto;
    }

}

.icon-row {
    display: flex;
    gap: 16px;
    margin-top: 8px;
    align-items: center;
}

.mp-img {
    width: 454px;
    height: 312px;
    border-radius: 30px;
    object-fit: cover;
    margin: 10px 0 30px 0;
}

.mp-btn {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;

    button {
        @include defaultFont($fw: 400);
        border: 2px solid rgb(137, 188, 217);
        border-radius: 50vw;
        padding: 12px 24px;
        font-size: 1em;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;


        // .contact-def-img,
        // .contact-hover-img {
        //     width: 24px;
        //     height: 24px;
        // }
    }
}

.mp-btn .live-test {
    background-color: rgb(137, 188, 217);
    color: rgba(38, 46, 52, 1);

    &:hover {
        background-color: rgba(255, 255, 255, 1);
    }

}

.mp-btn .github {
    background-color: transparent;
    color: rgb(137, 188, 217);

    &:hover {
        background-color: rgba(137, 188, 217, 0.3);
    }

}