.left-container,
.right-container {
    flex: 1 1 0;
    margin-top: 16px;

}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left-container {
    .headline-row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 4px; // space between headline and paragraph

        .bullet-img {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.2em;
            line-height: 1.5em;
            color: white;
            margin: 0;
        }
    }

    .project-paragraph {
        margin: 0 0 18px 34px; // left margin matches bullet+gap width
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
        line-height: 1.75em;
        color: white;
    }

}

.mp-icons img {
    width: 50px;
    height: 50px;
    background-color: purple;

}