* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    // height: 100%;
    background-color: #DDDDDE;
    color: white;
    overflow-x: hidden;
}

app-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 2.44em;
    margin: 64px 0 32px 0;
}

.d-none {
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
