@use '@angular/material' as mat;

/* Josefin Sans - 400 */  
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/JosefinSans-Regular.ttf') format('truetype');
}
/* Josefin Sans - 500 */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('assets/fonts/JosefinSans-Medium.ttf') format('truetype');
}

@mixin defaultFont($c:white, $fw:400) {
    font-family: 'Josefin Sans', sans-serif;
    color: $c;
    font-weight: $fw;
}

/* Anta-Regular - 400 */  
@font-face {
    font-family: 'Anta-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/Anta-Regular.ttf') format('truetype');
}

@mixin headingFont($c:rgb(137, 188, 217), $fw:400) {
    font-family: 'Anta-Regular', sans-serif;
    color: $c;
    font-weight: $fw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    // height: 100%;
    // background-color: #DDDDDE;
    color: white;
    overflow-x: hidden;
    @include defaultFont($c:white, $fw:400);
    // overscroll-behavior-y: contain; 
}

app-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    @include headingFont($c:white, $fw:400);
    // font-size: 2em;
    // line-height: 2.44em;
    margin: 64px 0 32px 0;
}

h2 {
    @include headingFont($c:rgb(137, 188, 217), $fw:400);
    font-size: 2em;
    line-height: 2.44em;
    margin: 64px 0 32px 0;
}

.d-none {
    display: none;
}



// .custom-label-class {
//   font-weight: bold;
//   background-color: #89BCD9;
//   opacity: 0.8;
//   border-top-right-radius: 10px !important;
//   border-top-left-radius: 10px !important;
// }

::ng-deep .custom-label-class {
  font-weight: bold !important;
  background-color: #89BCD9 !important;
  opacity: 0.8 !important;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}


