app-about-me, app-my-skills, app-my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    border: 1px solid pink;
}

app-my-projects {
    width: 100%;
}